html{
	margin: auto;
	max-width: 800px;
}

body {
  background-color: white;
  margin: auto;
  font-size: 12px;
  color: rgb(80, 80, 80);
}

footer{
  background-color: black;
  font-size: 10px;
  text-align: right;
  color: white;
}

label {
  width: 100px;
  display: inline-block;
}

input {
  width: 400px;
}


input[type="submit"], input[type="radio"]  {
  width: auto;
}

.Header {
  font-size: 48px;
  text-align: center;
}

.Menu {
  border:1px solid black;  
  text-decoration: none;
  color: white;
  background-color: blue;
  font-size: 24px;
}